{% for link in linklists[mobile-menu].links %}
  {% if linklists[link.handle] == empty %}
    <li><a href="{{ link.url }}">{{ link.title }}</a></li>
  {% else %}
    <li class="sublink"><a data-no-instant href="{{ link.url }}">{{ link.title }} <span class="right icon-down-arrow"></span></a>
      <ul>
        {% for link in linklists[link.handle].links %}
          {% if linklists[link.handle] == empty %}
            <li><a href="{{ link.url }}">{{ link.title }}</a></li>
          {% else %}
          <li class="sublink"><a data-no-instant href="{{ link.url }}">{{ link.title }} <span class="right icon-down-arrow"></span></a>
            <ul>
              {% for link in linklists[link.handle].links %}
                <li><a href="{{ link.url }}">{{ link.title }}</a></li>
              {% endfor %}
            </ul>
          </li>
          {% endif %}
        {% endfor %}
      </ul>
    </li>
  {% endif %}
{% endfor %}